/* Grays */
/* Blues */
/* Oranges */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../app/scss/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../app/scss/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../app/scss/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../app/scss/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../app/scss/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../app/scss/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../app/scss/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../app/scss/partials/_base.scss */
body {
  color: #666666;
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  text-align: center;
}

/* line 8, ../app/scss/partials/_base.scss */
a {
  color: #2B547E;
}

/* line 12, ../app/scss/partials/_base.scss */
dl {
  margin-bottom: 15px;
}

/* line 16, ../app/scss/partials/_base.scss */
dt {
  font-size: 18px;
  font-weight: bold;
  line-height: 2em;
}

/* line 22, ../app/scss/partials/_base.scss */
dd {
  line-height: 1.6em;
  margin-left: 15px;
}

/* line 27, ../app/scss/partials/_base.scss */
h1 {
  font-size: 32px;
  font-weight: normal;
  line-height: 2em;
}
/* line 32, ../app/scss/partials/_base.scss */
h1 a {
  color: #666666;
  text-decoration: none;
}

/* line 38, ../app/scss/partials/_base.scss */
h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.8em;
}

/* line 44, ../app/scss/partials/_base.scss */
h4 {
  font-size: 16px;
  font-weight: bold;
}

/* line 49, ../app/scss/partials/_base.scss */
p {
  line-height: 1.6em;
  margin-bottom: 15px;
}
/* line 53, ../app/scss/partials/_base.scss */
p:last-child {
  margin-bottom: 0px;
}

/* line 58, ../app/scss/partials/_base.scss */
ul, ol {
  margin-left: 20px;
}
/* line 60, ../app/scss/partials/_base.scss */
ul li, ol li {
  list-style-position: outside;
  line-height: 1.6em;
}

/* line 67, ../app/scss/partials/_base.scss */
ul li {
  list-style: disc;
}

/* line 73, ../app/scss/partials/_base.scss */
ol li {
  list-style: decimal;
}

/* line 78, ../app/scss/partials/_base.scss */
.body-container {
  margin: 45px auto 45px auto;
  text-align: left;
  width: 960px;
}

/* line 1, ../app/scss/partials/_head.scss */
.link-wrapper {
  margin: 0 auto;
  text-align: left;
  width: 960px;
}
/* line 6, ../app/scss/partials/_head.scss */
.link-wrapper .library-links {
  background-color: #CEE3F6;
  border: 1px solid #2B547E;
  border-top: 0;
  float: right;
  padding: 15px;
}
/* line 13, ../app/scss/partials/_head.scss */
.link-wrapper .library-links div {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}
/* line 18, ../app/scss/partials/_head.scss */
.link-wrapper .library-links div:first-child {
  margin-left: 0px;
}
/* line 22, ../app/scss/partials/_head.scss */
.link-wrapper .library-links div.release {
  padding-right: 15px;
  text-align: center;
}
/* line 27, ../app/scss/partials/_head.scss */
.link-wrapper .library-links div a {
  color: #2B547E;
  display: block;
  margin-bottom: 5px;
}
/* line 32, ../app/scss/partials/_head.scss */
.link-wrapper .library-links div a i {
  padding-right: 7px;
}
/* line 37, ../app/scss/partials/_head.scss */
.link-wrapper .library-links div span {
  color: #666666;
  font-size: 12px;
}

/* line 45, ../app/scss/partials/_head.scss */
.head-wrapper {
  box-sizing: border-box;
  height: 120px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  width: 960px;
}
/* line 53, ../app/scss/partials/_head.scss */
.head-wrapper .lambda {
  color: #FA8258;
  font-size: 124px;
  font-weight: bold;
  position: absolute;
  z-index: -1;
  -moz-transform: scale(1.25, 1);
  -ms-transform: scale(1.25, 1);
  -webkit-transform: scale(1.25, 1);
  transform: scale(1.25, 1);
}
/* line 63, ../app/scss/partials/_head.scss */
.head-wrapper h1 {
  padding: 25px;
}
/* line 66, ../app/scss/partials/_head.scss */
.head-wrapper h1 a {
  color: #333333;
  text-shadow: 3px 3px 10px #666666;
  text-shadow: 3px 3px 10px 3px #666666;
}

/* line 73, ../app/scss/partials/_head.scss */
.menu-wrapper {
  background-color: #CEE3F6;
  border-top: 1px solid #2B547E;
  border-bottom: 3px solid #FA8258;
  display: block;
  padding: 15px;
}
/* line 80, ../app/scss/partials/_head.scss */
.menu-wrapper li {
  display: inline-block;
  font-size: 22px;
  padding-left: 30px;
}
/* line 85, ../app/scss/partials/_head.scss */
.menu-wrapper li a {
  text-decoration: none;
}
/* line 90, ../app/scss/partials/_head.scss */
.menu-wrapper li:first-child {
  padding-left: 0px;
}
