/**
 * Reset some basic elements
 */
/* line 4, ../_scss/_base.scss */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
/* line 16, ../_scss/_base.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
/* line 31, ../_scss/_base.scss */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px;
}

/**
 * Images
 */
/* line 43, ../_scss/_base.scss */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
/* line 53, ../_scss/_base.scss */
figure > img {
  display: block;
}

/* line 57, ../_scss/_base.scss */
figcaption {
  font-size: 14px;
}

/**
 * Lists
 */
/* line 66, ../_scss/_base.scss */
ul, ol {
  margin-left: 30px;
}

/* line 71, ../_scss/_base.scss */
li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Headings
 */
/* line 82, ../_scss/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/**
 * Links
 */
/* line 91, ../_scss/_base.scss */
a {
  color: #2a7ae2;
  text-decoration: none;
}
/* line 95, ../_scss/_base.scss */
a:visited {
  color: #1756a9;
}
/* line 99, ../_scss/_base.scss */
a:hover {
  color: #111;
  text-decoration: underline;
}

/**
 * Blockquotes
 */
/* line 110, ../_scss/_base.scss */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}
/* line 118, ../_scss/_base.scss */
blockquote > :last-child {
  margin-bottom: 0;
}

/**
 * Code formatting
 */
/**
 * Wrapper
 */
/* line 154, ../_scss/_base.scss */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}
@media screen and (max-width: 800px) {
  /* line 154, ../_scss/_base.scss */
  .wrapper {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}

/**
 * Clearfix
 */
/* line 178, ../_scss/_base.scss */
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
/* line 192, ../_scss/_base.scss */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
/* line 198, ../_scss/_base.scss */
.icon > svg path {
  fill: #828282;
}

/**
 * Syntax highlighting styles
 */
/* line 4, ../_scss/_syntax-highlighting.scss */
.highlight {
  background: #fff;
}
/* line 8, ../_scss/_syntax-highlighting.scss */
.highlight .c {
  color: #998;
  font-style: italic;
}
/* line 9, ../_scss/_syntax-highlighting.scss */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
/* line 10, ../_scss/_syntax-highlighting.scss */
.highlight .k {
  font-weight: bold;
}
/* line 11, ../_scss/_syntax-highlighting.scss */
.highlight .o {
  font-weight: bold;
}
/* line 12, ../_scss/_syntax-highlighting.scss */
.highlight .cm {
  color: #998;
  font-style: italic;
}
/* line 13, ../_scss/_syntax-highlighting.scss */
.highlight .cp {
  color: #999;
  font-weight: bold;
}
/* line 14, ../_scss/_syntax-highlighting.scss */
.highlight .c1 {
  color: #998;
  font-style: italic;
}
/* line 15, ../_scss/_syntax-highlighting.scss */
.highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic;
}
/* line 16, ../_scss/_syntax-highlighting.scss */
.highlight .gd {
  color: #000;
  background-color: #fdd;
}
/* line 17, ../_scss/_syntax-highlighting.scss */
.highlight .gd .x {
  color: #000;
  background-color: #faa;
}
/* line 18, ../_scss/_syntax-highlighting.scss */
.highlight .ge {
  font-style: italic;
}
/* line 19, ../_scss/_syntax-highlighting.scss */
.highlight .gr {
  color: #a00;
}
/* line 20, ../_scss/_syntax-highlighting.scss */
.highlight .gh {
  color: #999;
}
/* line 21, ../_scss/_syntax-highlighting.scss */
.highlight .gi {
  color: #000;
  background-color: #dfd;
}
/* line 22, ../_scss/_syntax-highlighting.scss */
.highlight .gi .x {
  color: #000;
  background-color: #afa;
}
/* line 23, ../_scss/_syntax-highlighting.scss */
.highlight .go {
  color: #888;
}
/* line 24, ../_scss/_syntax-highlighting.scss */
.highlight .gp {
  color: #555;
}
/* line 25, ../_scss/_syntax-highlighting.scss */
.highlight .gs {
  font-weight: bold;
}
/* line 26, ../_scss/_syntax-highlighting.scss */
.highlight .gu {
  color: #aaa;
}
/* line 27, ../_scss/_syntax-highlighting.scss */
.highlight .gt {
  color: #a00;
}
/* line 28, ../_scss/_syntax-highlighting.scss */
.highlight .kc {
  font-weight: bold;
}
/* line 29, ../_scss/_syntax-highlighting.scss */
.highlight .kd {
  font-weight: bold;
}
/* line 30, ../_scss/_syntax-highlighting.scss */
.highlight .kp {
  font-weight: bold;
}
/* line 31, ../_scss/_syntax-highlighting.scss */
.highlight .kr {
  font-weight: bold;
}
/* line 32, ../_scss/_syntax-highlighting.scss */
.highlight .kt {
  color: #458;
  font-weight: bold;
}
/* line 33, ../_scss/_syntax-highlighting.scss */
.highlight .m {
  color: #099;
}
/* line 34, ../_scss/_syntax-highlighting.scss */
.highlight .s {
  color: #d14;
}
/* line 35, ../_scss/_syntax-highlighting.scss */
.highlight .na {
  color: #008080;
}
/* line 36, ../_scss/_syntax-highlighting.scss */
.highlight .nb {
  color: #0086B3;
}
/* line 37, ../_scss/_syntax-highlighting.scss */
.highlight .nc {
  color: #458;
  font-weight: bold;
}
/* line 38, ../_scss/_syntax-highlighting.scss */
.highlight .no {
  color: #008080;
}
/* line 39, ../_scss/_syntax-highlighting.scss */
.highlight .ni {
  color: #800080;
}
/* line 40, ../_scss/_syntax-highlighting.scss */
.highlight .ne {
  color: #900;
  font-weight: bold;
}
/* line 41, ../_scss/_syntax-highlighting.scss */
.highlight .nf {
  color: #900;
  font-weight: bold;
}
/* line 42, ../_scss/_syntax-highlighting.scss */
.highlight .nn {
  color: #555;
}
/* line 43, ../_scss/_syntax-highlighting.scss */
.highlight .nt {
  color: #000080;
}
/* line 44, ../_scss/_syntax-highlighting.scss */
.highlight .nv {
  color: #008080;
}
/* line 45, ../_scss/_syntax-highlighting.scss */
.highlight .ow {
  font-weight: bold;
}
/* line 46, ../_scss/_syntax-highlighting.scss */
.highlight .w {
  color: #bbb;
}
/* line 47, ../_scss/_syntax-highlighting.scss */
.highlight .mf {
  color: #099;
}
/* line 48, ../_scss/_syntax-highlighting.scss */
.highlight .mh {
  color: #099;
}
/* line 49, ../_scss/_syntax-highlighting.scss */
.highlight .mi {
  color: #099;
}
/* line 50, ../_scss/_syntax-highlighting.scss */
.highlight .mo {
  color: #099;
}
/* line 51, ../_scss/_syntax-highlighting.scss */
.highlight .sb {
  color: #d14;
}
/* line 52, ../_scss/_syntax-highlighting.scss */
.highlight .sc {
  color: #d14;
}
/* line 53, ../_scss/_syntax-highlighting.scss */
.highlight .sd {
  color: #d14;
}
/* line 54, ../_scss/_syntax-highlighting.scss */
.highlight .s2 {
  color: #d14;
}
/* line 55, ../_scss/_syntax-highlighting.scss */
.highlight .se {
  color: #d14;
}
/* line 56, ../_scss/_syntax-highlighting.scss */
.highlight .sh {
  color: #d14;
}
/* line 57, ../_scss/_syntax-highlighting.scss */
.highlight .si {
  color: #d14;
}
/* line 58, ../_scss/_syntax-highlighting.scss */
.highlight .sx {
  color: #d14;
}
/* line 59, ../_scss/_syntax-highlighting.scss */
.highlight .sr {
  color: #009926;
}
/* line 60, ../_scss/_syntax-highlighting.scss */
.highlight .s1 {
  color: #d14;
}
/* line 61, ../_scss/_syntax-highlighting.scss */
.highlight .ss {
  color: #990073;
}
/* line 62, ../_scss/_syntax-highlighting.scss */
.highlight .bp {
  color: #999;
}
/* line 63, ../_scss/_syntax-highlighting.scss */
.highlight .vc {
  color: #008080;
}
/* line 64, ../_scss/_syntax-highlighting.scss */
.highlight .vg {
  color: #008080;
}
/* line 65, ../_scss/_syntax-highlighting.scss */
.highlight .vi {
  color: #008080;
}
/* line 66, ../_scss/_syntax-highlighting.scss */
.highlight .il {
  color: #099;
}

/* Grays */
/* Blues */
/* Oranges */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../_scss/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../_scss/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../_scss/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../_scss/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../_scss/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../_scss/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../_scss/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../_scss/partials/_base.scss */
body {
  color: #666666;
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 1.8em !important;
}

/* line 9, ../_scss/partials/_base.scss */
a:link, a:visited, a:active {
  color: #4d87c2 !important;
  text-decoration: none !important;
}

/* line 15, ../_scss/partials/_base.scss */
a {
  border-bottom: 1px dotted;
}
/* line 18, ../_scss/partials/_base.scss */
a:hover {
  color: #2B547E !important;
  border-bottom: 1px solid;
}

/* line 24, ../_scss/partials/_base.scss */
h1 {
  font-size: 32px;
  font-weight: normal;
  line-height: 2em;
  padding-top: 20px;
}

/* line 31, ../_scss/partials/_base.scss */
h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.8em;
  margin-top: 1.4rem;
  margin-left: -20px;
}

/* line 39, ../_scss/partials/_base.scss */
h3 {
  font-size: 18px;
  font-weight: normal;
  margin-top: 2.4rem;
  margin-bottom: 1.8rem;
}

/* line 46, ../_scss/partials/_base.scss */
pre {
  margin-top: 1.6rem;
  padding: 10px;
}

/* line 51, ../_scss/partials/_base.scss */
p {
  line-height: 1.6em;
  margin-bottom: 15px;
}
/* line 55, ../_scss/partials/_base.scss */
p:last-child {
  margin-bottom: 0px;
}

/* line 60, ../_scss/partials/_base.scss */
ul, ol {
  margin-left: 20px;
}
/* line 62, ../_scss/partials/_base.scss */
ul li, ol li {
  list-style-position: outside;
  line-height: 1.6em;
}

/* line 69, ../_scss/partials/_base.scss */
ul li {
  list-style: disc;
}

/* line 75, ../_scss/partials/_base.scss */
ol li {
  list-style: decimal;
}

/* line 80, ../_scss/partials/_base.scss */
.body-container {
  margin: 45px auto 45px auto;
  text-align: left;
  width: 960px;
}

/* line 86, ../_scss/partials/_base.scss */
#function-list {
  border: 1px solid #ccc;
  border-width: 0 1px 0 0;
  float: left;
  margin-right: 10%;
  width: 17%;
  opacity: 0.4;
}
/* line 94, ../_scss/partials/_base.scss */
#function-list:hover {
  opacity: 1;
}
/* line 98, ../_scss/partials/_base.scss */
#function-list ul {
  margin: 10px;
}
/* line 102, ../_scss/partials/_base.scss */
#function-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 109, ../_scss/partials/_base.scss */
#function-info {
  float: left;
  width: 70%;
}

/* line 1, ../_scss/partials/_header.scss */
.head-wrapper {
  margin-top: 20px;
  text-align: left;
  width: 960px;
  margin: 0 auto;
}
/* line 7, ../_scss/partials/_header.scss */
.head-wrapper .top-logo {
  float: left;
}
/* line 11, ../_scss/partials/_header.scss */
.head-wrapper .title {
  text-align: center;
  padding-left: 240px;
}
/* line 15, ../_scss/partials/_header.scss */
.head-wrapper .title h1 {
  border-bottom: 3px solid #eee;
  line-height: 1.2em;
  text-align: left;
  width: 600px;
}
/* line 22, ../_scss/partials/_header.scss */
.head-wrapper .title h2 {
  color: #999;
  font-size: 22px;
  margin: 0;
  padding: 0;
  text-align: right;
  width: 600px;
}

/* line 34, ../_scss/partials/_header.scss */
.nav-wrapper {
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-width: 1px 0;
  margin: 20px 0;
  padding: 7px;
}
/* line 41, ../_scss/partials/_header.scss */
.nav-wrapper ul {
  margin: 0;
}
/* line 43, ../_scss/partials/_header.scss */
.nav-wrapper ul li {
  display: inline-block;
  list-style: none;
  margin-right: 10px;
}
/* line 48, ../_scss/partials/_header.scss */
.nav-wrapper ul li a {
  color: #777 !important;
}
