<h2>Array Functions</h2>

<dl>
    <dt>concat</dt>
    <dd>Performance: O(n)</dd>
    <dd>Arguments: {array} original, {array} extension</dd>
    <dd>Description: Extends original array with values from extension array</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.concat([1, 2, 3], [4, 5, 6]);

        // [ 1, 2, 3, 4, 5, 6 ]
    </code>
</pre>

<dl>
    <dt>conj</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {any} value, {array} destination</dd>
    <dd>Description: Returns new array with value postpended</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.conj(4, [1, 2, 3]);

        // [ 1, 2, 3, 4 ]
    </code>
</pre>

<dl>
    <dt>cons</dt>
    <dd>Performance: O(n)</dd>
    <dd>Arguments: {any} value, {array} source</dd>
    <dd>Description: Returns new array beginning with value and extended with source array</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.cons(4, [1, 2, 3]);

        // [ 4, 1, 2, 3 ]
    </code>
</pre>

<dl>
    <dt>drop</dt>
    <dd>Performance: O(n)</dd>
    <dd>Arguments: {int} index, {array} valueSet</dd>
    <dd>Description: Returns new array with value at the provided index removed</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.drop(0, [1, 2, 3, 4, 5]);

        // [ 2, 3, 4, 5 ]

        j.drop(4, [1, 2, 3, 4, 5]);

        // [ 1, 2, 3, 4 ]

        j.drop(2, [1, 2, 3, 4, 5]);

        // [ 1, 2, 4, 5 ]
    </code>
</pre>

<dl>
    <dt>dropFirst</dt>
    <dd>Performance: O(n)</dd>
    <dd>Arguments: {array} valueSet</dd>
    <dd>Description: Returns new array with first value removed</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.dropFirst([1, 2, 3, 4, 5]);

        // [ 2, 3, 4, 5 ]
    </code>
</pre>

<dl>
    <dt>dropLast</dt>
    <dd>Performance: O(n)</dd>
    <dd>Arguments: {array} valueSet</dd>
    <dd>Description: Returns new array with last value removed</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.dropLast([1, 2, 3, 4, 5]);

        // [ 1, 2, 3, 4 ]
    </code>
</pre>

<dl>
    <dt>each</dt>
    <dd>Performance: O(n)</dd>
    <dd>Arguments: {function} userFn, {array} userArray</dd>
    <dd>Description: Performs userFn on each element of userArray</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.each(function(value){ console.log(value); }, [1, 2, 3, 4, 5]);

        // 1
        // 2
        // 3
        // 4
        // 5
    </code>
</pre>

<dl>
    <dt>filter</dt>
    <dd>Performance: O(n)</dd>
    <dd>Arguments: {function} predicate, {array} userArray</dd>
    <dd>Description: Returns array containing values which pass predicate test</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.filter(function(value){ return value % 2 === 0; }, [1, 2, 3, 4, 5, 6]);

        // [ 2, 4, 6 ]
    </code>
</pre>

<dl>
    <dt>find</dt>
    <dd>Performance: O(n)</dd>
    <dd>Arguments: {function} predicate, {array} userArray</dd>
    <dd>Description: Returns first value that passes predicate function</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.find(function(value){ return value % 2 === 0; }, [1, 2, 3, 4, 5, 6]);

        // 2
    </code>
</pre>

<dl>
    <dt>first</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {array} values</dd>
    <dd>Description: Returns first value in array</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.first([1, 2, 3, 4, 5, 6]);

        // 1
    </code>
</pre>

<dl>
    <dt>last</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {array} values</dd>
    <dd>Description: Returns last value in array</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.first([1, 2, 3, 4, 5, 6]);

        // 6
    </code>
</pre>

<dl>
    <dt>lastIndex</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {array} values</dd>
    <dd>Description: Returns index of last element in array</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.first([1, 2, 3, 4, 5, 6]);

        // 5
    </code>
</pre>

<dl>
    <dt>map</dt>
    <dd>Performance: O(n)</dd>
    <dd>Arguments: {function} userFn, {array} userArray</dd>
    <dd>Description: Returns new array containing values mapped through userFn</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.map(function(value){ return value * 3; }, [1, 2, 3, 4, 5, 6]);

        // [ 3, 6, 9, 12, 15, 18 ]
    </code>
</pre>

<dl>
    <dt>nth</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {int} index, {array} valueSet</dd>
    <dd>Description: Returns value at nth position of valueSet</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.nth(0, [1, 2, 3, 4, 5, 6]);

        // 1

        j.nth(5, [1, 2, 3, 4, 5, 6]);

        // 6

        j.nth(3, [1, 2, 3, 4, 5, 6]);

        // 4
    </code>
</pre>

<dl>
    <dt>reduce</dt>
    <dd>Performance: O(n)</dd>
    <dd>Arguments: {function} userFn, {array} values</dd>
    <dd>Description: Reduces array to single element of any type through application of userFn</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.reduce(function(a, b){ return a + b; }, [1, 2, 3, 4, 5]);

        //15
    </code>
</pre>

<dl>
    <dt>rest</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {array} values</dd>
    <dd>Description: Returns new array without first element</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.rest([1, 2, 3, 4, 5]);

        // [ 2, 3, 4, 5 ]
    </code>
</pre>

<dl>
    <dt>slice</dt>
    <dd>Performance: O(1) likely executes in O(n) time within Javascript runtime</dd>
    <dd>Arguments: {int} begin, {array} valueSet, {int} end</dd>
    <dd>Description: Returns slice of provided array</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.slice(0, [1, 2, 3, 4, 5]);

        // [ 1, 2, 3, 4, 5 ]

        j.slice(2, [1, 2, 3, 4, 5]);

        // [ 4, 5 ]

        j.slice(2, [1, 2, 3, 4, 5], 3);

        // [ 4 ]
    </code>
</pre>

<dl>
    <dt>take</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {int} count, {array} values</dd>
    <dd>Description: returns first n values of array where n is provided count</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.take(3, [1, 2, 3, 4, 5]);

        // [ 1, 2, 3 ]
    </code>
</pre>

<highlight></highlight>