<h2>Conversion Functions</h2>

<dl>
    <dt>toDec</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {string or number} value</dd>
    <dd>Description: Converts string or numeric value to decimal value</dd>
</dl>

<h4>Example</h4>

<pre>
    <code>
        j.toDec('1.234');

        // 1.234

        j.toDec(0xA);

        // 11

        j.toDec(010);

        // 8
    </code>
</pre>

<dl>
    <dt>toValues</dt>
    <dd>Performance: O(n)</dd>
    <dd>Arguments: {map} valueMap</dd>
    <dd>Description: Returns array of values contained in hashmap</dd>
</dl>

<h4>Example</h4>

<pre>
    <code>
        j.toValues({
            1: "Value 1",
            2: "Value 2",
            3: "Value 3",
            4: "Value 4",
        });

        // [ "Value 1", "Value 2", "Value 3", "Value 4" ]
    </code>
</pre>

