<h2>Core Functions</h2>

<dl>
    <dt>apply</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {function} userFn, {array} values</dd>
    <dd>Description: Calls provided function with values in passed array</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        function add(a, b){
            return a + b;
        }

        j.apply(add, [1, 2]);

        //3
    </code>
</pre>

<dl>
    <dt>compose</dt>
    <dd>Performance: O(n) on setup where n is the function count, O(1) at execution time</dd>
    <dd>Arguments: {function} [arguments]</dd>
    <dd>Description: Performs function composition on functions provided</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        function isUndefined(value){
            return typeof value === 'undefined';
        }

        function not(value){
            return !value;
        }

        var notUndefined = j.compose(not, isUndefined);

        notUndefined(null);

        //true

        notUndefined(undefined);

        //false
    </code>
</pre>

<dl>
    <dt>countArguments</dt>
    <dd>Performance: unmeasured</dd>
    <dd>Arguments: {function} userFn</dd>
    <dd>Description: Counts the number of arguments required for a function</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.countArguments(function(arg1, arg2, arg3){});

        //3
    </code>
</pre>

<dl>
    <dt>curry</dt>
    <dd>Performance: unmeasured - requires on countArguments</dd>
    <dd>Arguments: {function} userFn, [optional] arguments</dd>
    <dd>Description: Curries function based on argument count -- partial application special case</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        function add(a, b);

        j.curry(add)(1)(2);

        //3

        j.curry(add, 1)(2);

        //3

        j.curry(add, 1, 2);

        //3
    </code>
</pre>

<dl>
    <dt>either</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {any} defaultValue, {any, nullable} optionValue</dd>
    <dd>Description: Returns defaultValue on falsey optionValue or optionValue if it is truthy</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.either('default', null);

        //default

        j.either('default', 'my string');

        //my string
    </code>
</pre>

<dl>
    <dt>eitherWhen</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {any} defaultValue, {any, nullable} testValue, {boolean} predicate</dd>
    <dd>Description: Returns defaultValue on falsey optionValue or false predicate or optionValue if it is truthy and predicate is true</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.eitherWhen('default', 'yay!', true);

        //yay!

        j.eitherWhen('default', null, true);

        //default

        j.eitherWhen('default', 'yay!', false);

        //default
    </code>
</pre>

<dl>
    <dt>identity</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {any} value</dd>
    <dd>Description: Returns value passed in, via direct return</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.identity('my value');

        //my value
    </code>
</pre>

<dl>
    <dt>maybe</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {any} defaultValue, {function} userFn, {any, nullable} optionValue</dd>
    <dd>Description: Returns default value on falsey optionValue or userFn(optionValue) if optionValue is truthy</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        function multiplyBy2(value){
            return value * 2;
        }

        j.maybe(1, multiplyBy2, null);

        //1

        j.maybe(1, multiplyBy2, 0);

        //0

        j.maybe(1, multiplyBy2, 2);

        //4
    </code>
</pre>

<dl>
    <dt>partial</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {function} userFn, [optional] arguments</dd>
    <dd>Description: Generalized partial application function.</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        function divide(a, b){
            return a / b;
        }

        j.partial(divide, 6)(2);

        //3
    </code>
</pre>

<dl>
    <dt>pipeline</dt>
    <dd>Performance: O(n) on setup where n is the argument count, O(1) on execution</dd>
    <dd>Arguments: {function} [arguments]</dd>
    <dd>Description: Executes functions in left-to-right order pipelining the output from current to the next</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        function add(a, b){
            return a + b;
        }

        function divideBy2(value){
            return value / 2;
        }

        j.pipeline(add, divideBy2)(4, 6);

        //5
    </code>
</pre>

<dl>
    <dt>recur</dt>
    <dd>Performance: O(n) - best case, depends on outside operations</dd>
    <dd>Arguments: {function} userFn, [optional] arguments</dd>
    <dd>Description: Tail-optimized recursion function</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        function factorial(recur, base, result){
            var sanitizedResult = j.either(1, result);
            return (base >= 0) ? recur(base - 1, sanitizedResult * base) : sanitizedResult;
        }

        j.recur(factorial, 5);

        //120
    </code>
</pre>

<dl>
    <dt>rpartial</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {function} userFn, [optional] arguments</dd>
    <dd>Description: partial application, applies initial arguments to the right-most position of userFn</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        function divide(a, b){
        return a / b;
        }

        j.rpartial(divide, 4)(2);

        //0.5
    </code>
</pre>

<dl>
    <dt>when</dt>
    <dd>Performance: O(1) function execution varies on implementation</dd>
    <dd>Arguments: {boolean} checkValue, {function} userFn, [optional] arguments</dd>
    <dd>Description: executes function with passed arguments on a truthy checkValue</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        when(true, function(myValue){ console.log(myValue); }, "Hello, world!");

        //Hello, world!
    </code>
</pre>

<highlight></highlight>