<h2>Math Functions</h2>

<dl>
    <dt>add</dt>
    <dd>Performance: O(n)</dd>
    <dd>Arguments: [optional] arguments</dd>
    <dd>Description: Returns the sum of all numbers passed to add</dd>
</dl>

<dl>
    <dt>divide</dt>
    <dd>Performance: O(n)</dd>
    <dd>Arguments: [optional] arguments</dd>
    <dd>Description: divides first value by each other value passed to divide</dd>
</dl>

<dl>
    <dt>equal</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {any} a, {any} b</dd>
    <dd>Description: returns true if a and b are strictly equal, false otherwise</dd>
</dl>

<dl>
    <dt>geq</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {number} a, {number} b</dd>
    <dd>Description: Returns true if a is greater or equal to b, false otherwise</dd>
</dl>

<dl>
    <dt>greater</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {number} a, {number} b</dd>
    <dd>Description: Returns true if a is greater than b, false otherwise</dd>
</dl>

<dl>
    <dt>leq</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {number} a, {number} b</dd>
    <dd>Description: Returns true if a is less or equal to b, false otherwise</dd>
</dl>

<dl>
    <dt>less</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {number} a, {number} b</dd>
    <dd>Description: Returns true if a is less than b, false otherwise</dd>
</dl>

<dl>
    <dt>mod</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {number} a, {number} b</dd>
    <dd>Description: Returns the modulus of a and b</dd>
</dl>

<dl>
    <dt>multiply</dt>
    <dd>Performance: O(n)</dd>
    <dd>Arguments: [optional] arguments</dd>
    <dd>Description: Returns the product of all values passed to multiply</dd>
</dl>

<dl>
    <dt>range</dt>
    <dd>Performance: O(n)</dd>
    <dd>Arguments: {int} a, {int} b, {int} inc</dd>
    <dd>Description: returns range from a to b, excluding b, incremented by inc</dd>
</dl>

<dl>
    <dt>subtract</dt>
    <dd>Performance: O(n)</dd>
    <dd>Arguments: [optional] arguments</dd>
    <dd>Description: Returns sum of the first value and the negative of all other provided values</dd>
</dl>