<h2>Math Functions</h2>

<dl>
    <dt>add</dt>
    <dd>Performance: O(n)</dd>
    <dd>Arguments: [optional] arguments</dd>
    <dd>Description: Returns the sum of all numbers passed to add</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.add();

        //0

        j.add(1);

        //1

        j.add(1, 2);

        //3

        j.add(1, 2, 3, 4, 5);

        //15
    </code>
</pre>

<dl>
    <dt>divide</dt>
    <dd>Performance: O(n)</dd>
    <dd>Arguments: [optional] arguments</dd>
    <dd>Description: divides first value by each other value passed to divide</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.divide();

        //1

        j.divide(12);

        //1

        j.divide(12, 2);

        //6

        j.divide(12, 2, 3);

        //2
    </code>
</pre>

<dl>
    <dt>equal</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {any} a, {any} b</dd>
    <dd>Description: returns true if a and b are strictly equal, false otherwise</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.equal(1, 1);

        //true

        j.equal(1, 2);

        //false
    </code>
</pre>

<dl>
    <dt>fac</dt>
    <dd>Performance: O(n)</dd>
    <dd>Arguments: {number} value</dd>
    <dd>Description: returns factorial of value</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.fac(0);

        //1

        j.fac(5);

        //120
    </code>
</pre>

<dl>
    <dt>inc</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {number} value</dd>
    <dd>Description: returns value + 1</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.inc(5);

        //6
    </code>
</pre>

<dl>
    <dt>geq</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {number} a, {number} b</dd>
    <dd>Description: Returns true if a is greater or equal to b, false otherwise</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.geq(1, 1);

        //true

        j.geq(2, 1);

        //true

        j.geq(1, 2);

        //false
    </code>
</pre>

<dl>
    <dt>greater</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {number} a, {number} b</dd>
    <dd>Description: Returns true if a is greater than b, false otherwise</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.greater(2, 1);

        //true

        j.greater(1, 1);

        //false

        j.greater(1, 2);

        //false
    </code>
</pre>

<dl>
    <dt>leq</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {number} a, {number} b</dd>
    <dd>Description: Returns true if a is less or equal to b, false otherwise</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.leq(1, 2);

        //true

        j.leq(1, 1);

        //true

        j.leq(2, 1);

        //false
    </code>
</pre>

<dl>
    <dt>less</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {number} a, {number} b</dd>
    <dd>Description: Returns true if a is less than b, false otherwise</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.leq(1, 2);

        //true

        j.leq(1, 1);

        //true

        j.leq(2, 1);

        //false
    </code>
</pre>

<dl>
    <dt>max</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {number} a, {number} b</dd>
    <dd>Description: returns the max of either a or b. If no values are passed, max returns -Number.MAX_VALUE</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.max();

        //-1.7976931348623157e+308

        j.max(5);

        //5

        j.max(5, 6);

        //6
    </code>
</pre>

<dl>
    <dt>min</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {number} a, {number} b</dd>
    <dd>Description: returns the minimum of either a or b. If no values are passed, min returns Number.MAX_VALUE</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.min();

        //1.7976931348623157e+308

        j.min(5);

        //5

        j.min(5, 6);

        //5
    </code>
</pre>

<dl>
    <dt>mod</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {number} a, {number} b</dd>
    <dd>Description: Returns the modulus of a and b</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.mod(4, 2);

        //0

        j.mod(11, 4);

        //3
    </code>
</pre>

<dl>
    <dt>multiply</dt>
    <dd>Performance: O(n)</dd>
    <dd>Arguments: [optional] arguments</dd>
    <dd>Description: Returns the product of all values passed to multiply</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.multiply();

        //1

        j.multiply(2);

        //2

        j.multiply(2, 3);

        //6

        j.multiply(2, 3, 4, 5);

        //120

    </code>
</pre>

<dl>
    <dt>range</dt>
    <dd>Performance: O(n)</dd>
    <dd>Arguments: {int} a, {int} b, {int} inc</dd>
    <dd>Description: returns range from a to b, excluding b, incremented by inc</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.range(4);

        //[0, 1, 2, 3]

        j.range(2, 10);

        //[2, 3, 4, 5, 6, 7, 8, 9]

        j.range(0, 20, 4);

        //[0, 4, 8, 12, 16]

        j.range(100, 0, -10);

        //[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

    </code>
</pre>

<dl>
    <dt>subtract</dt>
    <dd>Performance: O(n)</dd>
    <dd>Arguments: [optional] arguments</dd>
    <dd>Description: Returns sum of the first value and the negative of all other provided values</dd>
</dl>

<h4>Example</h4>

<pre>
    <code class="javascript">
        j.subtract();

        //0

        j.subtract(1);

        //1

        j.subtract(3, 2);

        //1

        j.subtract(8, 5, 3, 2, 1);

        //-3

    </code>
</pre>

<highlight></highlight>