<h2>Object Functions</h2>

<dl>
    <dt>pick</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {string, number} key, {map} valueMap</dd>
    <dd>Description: Returns value at key in valueMap</dd>
</dl>

<dl>
    <dt>pluck</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {string, number} key, {map} valueMap</dd>
    <dd>Description: Returns object containing key and value from valueMap at key</dd>
</dl>

<dl>
    <dt>pluckKeys</dt>
    <dd>Performance: O(n)</dd>
    <dd>Arguments: {array of strings or numbers} keys, {map} valueMap</dd>
    <dd>Description: Returns object containing keys and values from valueMap at keys</dd>
</dl>