<h2>Predicate Functions</h2>

<dl>
    <dt>and</dt>
    <dd>Performance: O(n)</dd>
    <dd>Arguments: [optional] {boolean} arguments</dd>
    <dd>Description: Checks that all provided values are truthy</dd>
</dl>

<dl>
    <dt>isArray</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {any} value</dd>
    <dd>Description: Returns true if value is an array, otherwise false</dd>
</dl>

<dl>
    <dt>isBoolean</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {any} value</dd>
    <dd>Description: Returns true if value is a boolean value, otherwise false</dd>
</dl>

<dl>
    <dt>isNull</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {any} value</dd>
    <dd>Description: Returns true if value is null, otherwise false</dd>
</dl>

<dl>
    <dt>isNumber</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {any} value</dd>
    <dd>Description: Returns true if value is a number, otherwise false</dd>
</dl>

<dl>
    <dt>isNumeric</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {any} value</dd>
    <dd>Description: Returns true if value is a number or a string matching a numeric pattern, otherwise false</dd>
</dl>

<dl>
    <dt>isObject</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {any} value</dd>
    <dd>Description: Returns true if value is an object, otherwise false</dd>
</dl>

<dl>
    <dt>isString</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {any} value</dd>
    <dd>Description: Returns true if value is a string, otherwise false</dd>
</dl>

<dl>
    <dt>isTruthy</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {any} value</dd>
    <dd>Description: Returns true if value resolves to truthy, otherwise false</dd>
</dl>

<dl>
    <dt>isUndefined</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {any} value</dd>
    <dd>Description: Returns true if value is undefined, otherwise false</dd>
</dl>

<dl>
    <dt>not</dt>
    <dd>Performance: O(1)</dd>
    <dd>Arguments: {any} value</dd>
    <dd>Description: Returns true if value is falsey, otherwise false</dd>
</dl>

<dl>
    <dt>or</dt>
    <dd>Performance: O(n)</dd>
    <dd>Arguments: [optional] {boolean} arguments</dd>
    <dd>Description: Checks that any of the provided values are truthy</dd>
</dl>

