body{
  color: $text-color;
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 1.8em !important;
}

a:link, a:visited, a:active, a:hover{
  color: $link-color !important;
  text-decoration: none !important;
  
}

a {
  border-bottom: 1px dotted;
  
  &:hover {
    border-bottom: 1px solid;
  }
}

h1{
  font-size: 32px;
  font-weight: normal;
  line-height: 2em;

  a{
    color: $text-color;
    text-decoration: none;
  }
}

h2{
  font-size: 24px;
  font-weight: normal;
  line-height: 1.8em;
  margin-top: 1.4rem;
  margin-left: -20px;
}

h3 {
  font-size: 18px;
  font-weight: normal;
  margin-top: 2.4rem;
  margin-bottom: 1.8rem;
}

pre {
  margin-top: 1.6rem;
  padding: 10px;
}

p{
  line-height: 1.6em;
  margin-bottom: 15px;

  &:last-child{
    margin-bottom: 0px;
  }
}

ul, ol{
  margin-left: 20px;
  li{
    list-style-position: outside;
    line-height: 1.6em;
  }
}

ul{
  li{
    list-style: disc;
  }
}

ol{
  li{
    list-style: decimal;
  }
}

.body-container{
  margin: 45px auto 45px auto;
  text-align: left;
  width: 960px;
}

#function-list {
  border: 1px solid #ccc;
  border-width: 0 1px 0 0;
  float: left;
  margin-right: 10%;
  width: 17%;
  opacity: 0.4;
  
  &:hover {
    opacity: 1;
  }
  
  ul{
    margin: 10px;
  }
  
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

#function-info {
  float:left;
  width: 70%;
}