.link-wrapper{
  margin: 0 auto;
  text-align: left;
  width: 960px;

  .library-links{
    background-color: $menu-background;
    border: 1px solid $link-color;
    border-top: 0;
    float: right;
    padding: 15px;

    div{
      display: inline-block;
      margin-left: 10px;
      vertical-align: top;

      &:first-child{
        margin-left: 0px;
      }

      &.release{
        padding-right: 15px;
        text-align: center;
      }

      a{
        color: $link-color;
        display: block;
        margin-bottom: 5px;

        i{
          padding-right: 7px;
        }
      }

      span{
        color: $text-color;
        font-size: 12px;
      }
    }
  }
}

.head-wrapper{
  box-sizing: border-box;
  height: 120px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  width: 960px;

  .lambda{
    color: $menu-border;
    font-size: 124px;
    font-weight: bold;
    position: absolute;
    margin-top: -30px;
    z-index: -1;

    @include scale(1.25, 1);
  }

  h1{
    padding:25px;

    a{
      color: $dark-text;
      @include single-text-shadow(3px, 3px, 10px, 3px, $text-color);
    }
  }
}

.menu-wrapper{
  background-color: $menu-background;
  border-top: 1px solid $link-color;
  border-bottom: 3px solid $menu-border;
  display: block;
  padding: 15px;

  .menu{
    margin: 0;
  }

  li{
    display: inline-block;
    font-size: 22px;
    padding-left: 30px;

    a{
      text-decoration: none;
    }
  }

  li:first-child{
    padding-left: 0px;
  }
}