<header>
    <div class="link-wrapper">
        <div class="library-links">
            <div class="release">
                <a href="https://github.com/cmstead/JFP/releases">RELEASES</a>
                <span>Current Version: v2.4.0</span>
            </div>
            <div>
                <a href="https://github.com/cmstead/JFP/archive/v2.4.0.tar.gz">
                    <i class="fa fa-arrow-circle-down"></i>TAR.GZ
                </a>
            </div>
            <div>
                <a href="https://github.com/cmstead/JFP/archive/v2.4.0.zip">
                    <i class="fa fa-arrow-circle-down"></i>ZIP
                </a>
            </div>
            <div>
                <a href="https://www.npmjs.com/package/jfp" target="_blank">
                    NPM
                </a>
            </div>
        </div>
    </div>
    <div class="head-wrapper">
        <div class="lambda">&lambda;</div>
        <h1><a href="{{site.baseurl}}/">JFP: Javascript Function Processor</a></h1>
    </div>
    <div class="menu-wrapper">
        <ul class="menu">
            <li><a href="{{site.baseurl}}/array/">Array</a></li>
            <li><a href="{{site.baseurl}}/conditional/">Conditional</a></li>
            <li><a href="{{site.baseurl}}/conversion/">Conversion</a></li>
            <li><a href="{{site.baseurl}}/core/">Core</a></li>
            <li><a href="{{site.baseurl}}/math/">Math</a></li>
            <li><a href="{{site.baseurl}}/object/">Object</a></li>
            <li><a href="{{site.baseurl}}/predicate/">Predicate</a></li>
        </ul>
    </div>
</header>

