<div class="head-wrapper">
    <a href="{{ "/" | prepend: site.baseurl }}">
        <img src="{{ "/images/jfp-logo-small.png" | prepend: site.baseurl }}" alt="JFP Logo" class="top-logo" />
    </a>
    
    <div class="title">
        <h1>JFP</h1>
        <ul>
            <!-- li><a href="{{ "/api" | prepend: site.baseurl }}">v3.x API</a></li -->
            <li><a href="{{ "/v2.x" | prepend: site.baseurl }}">Visit v2.x docs</a></li>
        </ul>
        <h2>The Javascript Function Processor</h2>
    </div>
</div>

<div class="library-links">
</div>