body{
  color: $text-color;
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  text-align: center;
}

a{
  color: $link-color;
}

dl{
  margin-bottom: 15px;
}

dt{
  font-size: 18px;
  font-weight: bold;
  line-height: 2em;
}

dd{
  line-height: 1.6em;
  margin-left: 15px;
}

h1{
  font-size: 32px;
  font-weight: normal;
  line-height: 2em;

  a{
    color: $text-color;
    text-decoration: none;
  }
}

h2{
  font-size: 24px;
  font-weight: bold;
  line-height: 1.8em;
}

p{
  line-height: 1.6em;
  margin-bottom: 15px;

  &:last-child{
    margin-bottom: 0px;
  }
}

ul, ol{
  margin-left: 20px;
  li{
    list-style-position: outside;
    line-height: 1.6em;
  }
}

ul{
  li{
    list-style: disc;
  }
}

ol{
  li{
    list-style: decimal;
  }
}

.body-container{
  margin: 45px auto 45px auto;
  text-align: left;
  width: 960px;
}